<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Nolte.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Nolte.Security.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Nolte.UI.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Nolte.Settings>
            <setting name="EditorAllowBackground" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RTFDefaultIndent" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="ImageDefaultExtension" serializeAs="String">
                <value>jpg</value>
            </setting>
            <setting name="ImageDefaultFormat" serializeAs="String">
                <value>b96b3cae-0728-11d3-9d7b-0000f81ef32e</value>
            </setting>
        </Nolte.Settings>
        <Nolte.Security.Settings>
            <setting name="ImageDefaultFormat" serializeAs="String">
                <value>b96b3cae-0728-11d3-9d7b-0000f81ef32e</value>
            </setting>
        </Nolte.Security.Settings>
        <Nolte.UI.Settings>
            <setting name="EditorAllowBackground" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RTFDefaultIndent" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="ImageDefaultExtension" serializeAs="String">
                <value>jpg</value>
            </setting>
        </Nolte.UI.Settings>
    </userSettings>
</configuration>